body
{
  font-family: curiel, Helvetica, sans-serif;
  text-align: center;
  color:gray;

}
#container{
  width: 50%;
  padding: 1em;
  text-align: center;
  border:1px solid #DDD;
  margin: 0 auto;
  font-size: 14px;
}

#container h1 {
  font-size: 28px;
  color:black;
}